@charset "UTF-8";

/*------------ Font ------------*/
@font-face {
    font-family: 'Josefin Sans', sans-serif;
    src: url('fonts/JosefinSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/JosefinSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/JosefinSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/JosefinSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/JosefinSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
    font-display: swap
}


header {
   font-family: 'Josefin Sans', sans-serif;
}

body {
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-size: 16px;
}



/*------------  Accessibility ------------*/

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*-------------------Grid---------------------*/


@supports (grid-area: auto) {

   .site {
      max-width: none;
   }

   .head, .main > *, .foot {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
   }

   .one-item {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: 1fr;
   }

   .two-items {
      display: grid;
      grid-column: 1 / span 4;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      row-gap: 0em;
      column-gap: 0em;
   }

   .three-items {
      display: grid;
      grid-column: 1 / span 4;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      row-gap: 0em;
      column-gap: 0em;
   }

   .four-items {
      display: grid;
      grid-column: span 4;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      row-gap: 2em;
      column-gap: 2em;
   }

   .contact-override {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
      grid-column: 1 / span 4;
      color:white;
      background-color: #f4f4f4;
      border-bottom: 1px solid #ccc;
   }
   /*------------ End Grid Items ------------*/

 .hidden {
    display: none;
 }

 .border-top {
    border-top: 1px solid #fff;
    padding-top: 1.5em;
 }

 .margin-top {
    margin: 1em;
 }

 .margin-top-2 {
    margin-top: 9em;
 }

 .margin-tb {
    margin: 2em 0em 3em;
 }

 .margin-left {
    margin-left: 1em;
 }

 .margin-left2 {
    margin-left: 15em
 }

 .margin-left3 {
    margin-left: 23em
 }

 .margin-bottom {
    margin-bottom: 3em;
 }

 .padding-bottom {
    padding-bottom: 3em;
 }
 .foot-top {
    margin-top: -10em;
 }

/*-----------nav-------------*/

.nav {
    grid-column: 2 / span 2;
    padding-top: 1em;
    margin: 1em;
 }

 nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: end;
}

 nav ul li{
    display: inline;
    margin-right: 70px;
    margin-left: 100px;
    padding-top: 0em;
    margin-bottom: 0em;
 }

 nav li:last-child {
    margin-right: 6em;

 }

 nav li a {
    color: #000000;
    font-size: inherit;
    text-decoration: none;
    margin-bottom: 0em;
    text-align: center;
    align-self: center;
    font-weight: 700;
    margin-top: -10em;
 }

 nav li a:hover {
    color: #DC0E32;
 }

 nav li a.active {
    border-bottom: 3px solid #626262 ;
    padding-bottom: 0.5em;
    text-decoration: none;
 }

 nav li h3 {
    display: inline;
    padding: 0.8em 0.85em 0.8em 0.85em;
    background-color: #959B91;;
    color: #ffff;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;

 }

 nav li h3:hover {
    background-color: #626262;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;

 }

/*-------------log0------------------*/

 .logo {
     width: 6em;
     margin-top: 1em;
     margin-bottom: 1em;
     display: inline;
 }

/*----------------hero-----------------*/
.hero {
    margin: 0 0;
 }

 .hero-img img {
    width: 100%;
 }

 .hero-img {
    display: grid;
    grid-column: span 4;
    margin-bottom: 1em;
 }

 .hero-img > * {
    grid-column: 1;
    grid-row: 1;
 }


 .hero-img h2.blue {
    align-self: center;
    justify-self: left;
    margin-left: 2em;
    margin-top: 0em;
    margin-bottom: 2em;
    font-size: 3.5em;
    border-radius: 10px;
    color:#4cb5e2;
    font-weight: 700;
 }

 .hero-img h2.leftbold {
   text-transform: uppercase;
   align-self: center;
   justify-self: left;
   margin-right: 0em;
   margin-left: 2em;
   margin-top: 0em;
   margin-bottom: 8em;
   font-size: 3.5em;
   color:#000000;
   font-weight: 700;
}

.hero-img h2.left {
   align-self: center;
   margin-left: 2em;
   margin-bottom: 6em;
   font-size: 3.5em;
   color:#000000;
   font-weight: 400;
}

.hero-img h3 {
    align-self: center;
    justify-self: left;
    margin-right: 0em;
    margin-left: 5em;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 50px;
    color:#f1f1f1;
    background: #0087cd;
    padding: 1em 1.5em;
    font-size: 1.5em;
    font-weight: 400;
 }

 .hero-img h3 {
    align-self: center;
    justify-self: start;
    margin-right: 0em;
    margin-left: 5em;
    margin-top: 0em;
    margin-bottom: -10em;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 50px;
    color:#000000;
    padding: 1em 1.5em;
    font-size: 1.5em;
    font-weight: 400;
 }

 .hero-img p {
   align-self: center;
   margin-left: 5em;
   margin-bottom: 5em;
   font-size: 1em;
   color:#000000;
   line-height: 35px;
   font-weight: 400;
   font-size: 22px;
}



 /*-----------------article---------------*/

.red {
  height: 803px;
  background: #DC0E32;
}
.red p {
   color: #f1f1f1;
   background: #DC0E32;
   padding: 1em 1.5em;
   line-height: 35px;
   font-weight: 400;
   font-size: 22px;
   align-self: center;
   justify-self: left;
   margin: 0em;
}

.red h3 {
   font-weight: 700;
   font-size: 3em;
   text-transform: uppercase;
   color: #f1f1f1;
   background: #DC0E32;
   padding: 1em 0.5em;
   align-self: center;
   justify-self: left;
   margin: 0em;
}

.red h4 {
   font-weight: 400;
   font-size: 1.5em;
   color: #f1f1f1;
   background: #DC0E32;
   padding: 2.2em 1.5em;
   align-self: center;
   justify-self: auto;
   margin: 0em;
}

/*-------------------SVG----------------------*/
.flavours {
  width:100%;
}
.gold {
  height: 709px;
  background: #d8B473;
}
.gold p {
   display: flex;
   color: #000000;
   background: #d8B473;
   padding: 1.2em 1.5em;
   font-size: 1.2em;
   font-weight: 400;
   align-self: center;
   justify-self: auto;
   margin: 0em;
}

.gold h3 {
   font-weight: 700;
   font-size: 3em;
   text-transform: uppercase;
   color: #000000;
   background: #d8B473;
   padding: 1em 0.5em;
   align-self: center;
   justify-self: auto;
   margin: 0em;
}

.gold h4 {
   font-weight: 400;
   font-size: 1.5em;
   color: #000000;
   background: #d8B473;
   padding: 2em 1.5em;
   align-self: center;
   justify-self: auto;
   margin: 0em;
}

/*---------------Text--------------------*/
.tag img {
   padding: 2em 4em 1.5em;
   text-align: center;
   margin: auto;
   width: 100%;
}

.product img {
   width: 100%;
}

.product {
   display: grid;
   margin: 1em;
   position: relative;
}

.tag p {
   font-weight: 400;
   font-size: 1.5em;
   color: #000000;
   text-align: center;
   margin: auto;
   position: relative;
}

/*-----------------FOOTER-------------------*/

.footer {
   grid-column: 2 / span 2;
   padding-top: 0em;
   margin: 1em;
   background-color: #0087cd;
   margin-left: 0;
   margin-right: 0;
   max-width: 100%;
   padding-left: 40px;
   padding-right: 40px;
   text-align: center;
   align-self: center;
}

.footer p{
   color: #f1f1f1;
}

.footer ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
   text-align:center;
}

.footer ul li{
   display: inline;
   padding-top: 0em;
   margin-bottom: 0em;
}

.footer li:last-child {
   margin-right: 6em;

}

.footer li a {
   color: #f1f1f1;
   font-size: inherit;
   text-decoration: none;
   margin-bottom: 0em;
   text-align: center;
   align-self: center;
   font-weight: 700;
   font-weight: bold;
}

.footer li a:hover {
   color: #626262;
   text-decoration: underline;
   padding-bottom: 1em;
   margin-bottom: 1em;
}

.footer li a.active {
   border-bottom: 3px solid #626262 ;
   text-decoration: none;
   padding-bottom: 1em;
}

.footer li h3 {
   display: inline;
   padding: 0.8em 0.85em 0.8em 0.85em;
   background-color: #959B91;;
   color: #ffff;
   font-size: 1em;
   border-radius: 5px;
   -webkit-transition: background-color 500ms linear;
   -ms-transition: background-color 500ms linear;
   transition: background-color 500ms linear;

}

.footer li h3:hover {
   background-color: #626262;
   -webkit-transition: background-color 500ms linear;
   -ms-transition: background-color 500ms linear;
   transition: background-color 500ms linear;

}
}
